.sidebar {
	max-height: 100vh;
}

.content {
	padding: 20px;
	max-height: 100vh;
	overflow-y: auto;
}

.wrapper {

}

.ant-layout-sider-zero-width-trigger {
	top: 0;
}

.menuBtn {
	position: absolute;
    top: 20px;
    right: -60px;
	cursor: pointer;
	transition: color 0.3s;
}

.menuBtn:hover {
	color: #1890ff;
}