.sidebar {
	max-height: 100vh;
}

.content {
	/* margin-left: 40px; */
	padding: 20px;
	min-height: 100vh;
}

.ant-layout-sider-zero-width-trigger {
	top: 0;
}

.menuBtn {
	position: absolute;
    top: 20px;
    right: -60px;
	cursor: pointer;
	transition: color 0.3s;
}

.menuBtn:hover {
	color: #1890ff;
}