.quiz {
	background: rgb(240, 242, 245);
    position: fixed;
    top: 0;
    left: 0;
	z-index: 1000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

.quiz p:last-child {
	margin: 0;
}

.container {
	margin: 12vh auto 0px auto;
    max-width: 770px;
	padding: 10px;
	width: 100%;
}


