.cardContent {
	outline: none;
	padding: 20px;
	background: white;
	font-size: 16px;
	line-height: 1.5;
	box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
	font-family: Roboto, sans-serif;
	border-radius: 6px;
	margin-top: 5px;
	transition: .3s;
	border: none;
}

.cardPanel {
	height: 39.3px;
	background-color: #fafafa;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	border: 1px solid #c4c4c4;
	border-bottom: none;
	box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;

}

.cardTitle h1{
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

.cardBody {
	font-size: 16px;
	overflow-wrap: break-word;
}

.cardBtns {
	display: flex;
    justify-content: center;
}

.card .cardBody .panel > div {
	padding: 0;
}

.card .cardBody .panel > div > div {
	padding: 0;
}