.search {
	padding: 16px;
	border-radius: 40px;
}

.menu {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100% - 64px);
}

.navbarTop {
	padding: 0px 12px;
}

.search {
	transition: all 1s;
	width: 100%;
	height: 36px;
	background-color: white;
	border-radius: 25px;
	border: 4px solid white;
	padding: 5px;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
}

.searchInput, .addBtnText {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 28.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: block;
	font-size: 1em;
	border-radius: 20px;
	padding: 0px 5px 0px 36px;
	visibility: visible;
	opacity: 1;
	transition: all 0.3s 0.5s;
}


.search .searchBtn {
	width: 36px;
	height: 36px;
	position: absolute;
	top: -4px;
	left: -4px;
	border-radius: 50%;
	color: #07051a;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: none;
	pointer-events: auto;
	z-index: 100;
}

.search:focus-within{
	box-shadow: #40a9ff 0px 0px 7px 2px;
}
.hidenSearchFocus:focus-within {
	box-shadow: none;
}

.addBtn {
	width: 100%;
	height: 36px;
	border-radius: 25px;
	padding: 5px;
	position: relative;
	margin-bottom: 10px;
}

.addBtn .addBtnIcon {
	color: white;
	width: 36px;
	height: 36px;
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius: 50%;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addBtn:active>span {
	position: absolute;
}

.addBtn:focus>span {
	position: absolute;
}

.addBtnText {
	height: 36px;
	padding: 0;
	background: transparent;
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.collapsed {
	/* width: 36px; */
	visibility: hidden;
	opacity: 0;
	transition: opacity, visibility .3s;
}

.showSearch {
	width: 200px;
	box-shadow: rgb(0 21 41 / 30%) 0px 0px 1px 0px, 
	rgb(0 21 41 / 50%) 0px 1px 5px 1px;
	z-index: 100;
	visibility: visible;
	opacity: 1;
	transition: all .3s;
}

.showSearch:focus {
	box-shadow: #40a9ff 0px 0px 7px 2px;
}
