.header, .content {
	padding: 30px 30px 20px 30px;
	height: auto;
	background: white;
	line-height: 1.5;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 6px;
}

.header {
	margin-bottom: 20px;
	position: relative;
}


.content {
	position: relative;
	min-height: calc(100vh - 232.538px);
}

.moreBtn {
		position: absolute;
		top: 15px;
		right: 15px;
		border: 0;
		box-shadow: none;
}

 .moreBtn svg {
	width: 24px;
    height: 24px;
    color: rgb(115, 115, 115);
}