.search {
	transition: all 1s;
	width: 100%;
	height: 36px;
	background-color: white;
	border-radius: 25px;
	border: 4px solid white;
	padding: 5px;
	position: relative;
}

.searchInput {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 28.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: block;
	font-size: 1em;
	border-radius: 20px;
	padding: 0px 5px 0px 36px;
	z-index: 1;
	transition: all .3s .3s;
}


.search .searchBtn {
	width: 36px;
	height: 36px;
	position: absolute;
	top: -4px;
	left: -4px;
	border-radius: 50%;
	color: #07051a;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: none;
	pointer-events: auto;
	z-index: 90;
}

.search:focus-within {
	box-shadow: #40a9ff 0px 0px 7px 2px;
}

.hidenSearchFocus:focus-within {
	box-shadow: none;
}

.collapsed {
	visibility: hidden;
	opacity: 0;
	transition: opacity, visibility .3s;
}




.showSearchEnterActive {
	box-shadow: rgb(0 21 41 / 30%) 0px 0px 1px 0px,
		rgb(0 21 41 / 50%) 0px 1px 5px 1px;
		visibility: visible;
		opacity: 1;
	width: 200px;
	transition: all .3s ;
}

.showSearchEnterDone {
	visibility: visible;
		opacity: 1;
	width: 200px;
	box-shadow: rgb(0 21 41 / 30%) 0px 0px 1px 0px,
		rgb(0 21 41 / 50%) 0px 1px 5px 1px;
}

.showSearchEnterDone:focus {
	box-shadow: #40a9ff 0px 0px 7px 2px;
	transition: all .3s;
}

.showSearchExit {
	visibility: visible;
		opacity: 1;
	width: 200px;
	box-shadow: rgb(0 21 41 / 30%) 0px 0px 1px 0px,
		rgb(0 21 41 / 50%) 0px 1px 5px 1px;
}

.showSearchExitActive {
	width: 100%;
	box-shadow: none;
	transition: all .3s;
}

