body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
}


#root {
	min-height: 100vh;
	overflow: hidden;
}

:root {
	--bc-green: #008f26;
	--bc-green-light: #00a82d;
	--bc-gray-light: #dddddd;
	--bc-gray-lighter: #ebebeb;
	--c-gray: #4e4e51;
	--c-white: #ffffff;
}

.containerCard {
	margin: 0 auto;
	max-width: 770px;
}

.simplebar-scrollbar::before {
	background-color: #b3b3b4;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
	outline: none;
	padding: 20px;
	background: white;
	font-size: 16px;
	line-height: 1.5;
	box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
	font-family: Roboto, sans-serif;
	border-radius: 6px;
	margin-top: 10px;
	transition: box-shadow .3s;
	border: none;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline ul { 
	margin-bottom: 16px;
}

.editor-custom .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    outline: none;
	padding: 20px;
	background: white;
	font-size: 16px;
	line-height: 1.5;
	box-shadow: #40a9ff 0px 0px 7px 2px;
	/* box-shadow: #40a9ff 0px 2px 5px -1px, #40a9ff 0px 1px 3px -1px; */
	font-family: Roboto, sans-serif;
	border-radius: 6px;
	transition: box-shadow .3s;
	border: none;
	margin-top: 10px;
}

.editor-custom .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused ul {
	margin-bottom: 16px;
}




.editor-custom .ck.ck-editor__editable_inline>:first-child {
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

.editor-custom .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
border-radius: 6px;
	box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;

}


/* .ck-editor__main {
	  font-family: Roboto, sans-serif;
}

/* .ck.ck-editor__editable > .ck-placeholder::before {
  
} */

/* .ck.ck-editor__editable_inline>:first-child {
	border-bottom: 1px solid #b3b3b4;
	font-size: 30px;
    font-weight: 700;
}

.ck-content .page-break__label {
	color: rgb(145, 145, 145);
}  */