body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
}


#root {
	min-height: 100vh;
	overflow: hidden;
}

:root {
	--bc-green: #008f26;
	--bc-green-light: #00a82d;
	--bc-gray-light: #dddddd;
	--bc-gray-lighter: #ebebeb;
	--c-gray: #4e4e51;
	--c-white: #ffffff;
}

.containerCard {
	margin: 0 auto;
    max-width: 770px;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    font-family: Roboto;;
}

.ck.ck-editor__editable_inline>:first-child {
	border-bottom: 1px solid #b3b3b4;
}

.ck-content .page-break__label {
	color: red;
}

.simplebar-scrollbar::before {
	background-color: #b3b3b4;
  }