body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}


#root {
	min-height: 100vh;
	overflow: hidden;
}

.containerCard {
	margin: 0 auto;
    max-width: 770px;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    font-family: Roboto;;
}

.ck-content .page-break__label {
	color: red;
}